! {{{ Xft
Xft.dpi:                        96
Xft.antialias:			true
Xft.hinting:			true
Xft.rgba:                       rgba
Xft.autohint:			true
Xft.hintstyle:			hintslight
Xft.lcdfilter:                  lcddefault
Xcursor.theme: Chameleon-Pearl-Regular-0.5
! }}}

!Xft.dpi: 96
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault
!Xcursor.theme: Chameleon-Pearl-Regular-0.5
!Xcursor.size:  0


URxvt*font:                     xft:Cousine:pixelsize=11
URxvt*boldFont:                 xft:Cousine:pixelsize=11:style=italic
URxvt*background:		black
URxvt*transparent:              true
URxvt*tintColor:                white
URxvt*shading:                  10
URxvt*fading:			10
URxvt*urlLauncher:              chromium
URxvt*perl-ext:                 default,matcher
URxvt*matcher.button:           1
URxvt*matcher.pattern.1:        \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt*matcher.pattern.2:        \\B(/\\S+?):(\\d+)(?=:|$)
!URxvt*inheritPixmap:                  true

dmenu.foreground:               #222222
dmenu.background:               #cacaca
dmenu.selfforeground:           #dd4010
dmenu.selfbackground:           #b04020

*charClass:     33:48,37:48,61:48,63:48,58:48,45-47:48,38:48,126:48

*jumpScroll: true
*multiScroll: true
*boldMode: false
*scrollTtyKeypress: true
*scrollBar: false
*cutNewline: false
*scrollTtyOutput: false
*scrollKey: true
*secondaryScroll: true
*cursorBlink: true
*dynamicColors: false
*saveLines: 3000
!*geometry: 110x50


! {{{ XFontSel
XFontSel*menu*showUnselectable: false
XFontSel*MenuButton.shadowWidth: 0
XFontsel*Toggle*ToggleStyle: check
XFontsel*MenuButton*Justify:    left
XFontsel*MenuButton*MenuButtonStyle: select
.xfontsel.pane.commandBox.quitButton.background: #777777
.xfontsel.pane.commandBox.quitButton.foreground: snow
.xfontsel.pane.commandBox.ownButton.background: orange3
.xfontsel.pane.commandBox.ownButton.foreground: snow
.xfontsel.pane.commandBox.countLabel.background: snow
.xfontsel.pane.viewPort.sampleText.background: #777777
.xfontsel.pane.viewPort.sampleText.foreground: snow
.xfontsel.pane.fieldBox.field0.background: #777777
.xfontsel.pane.fieldBox.field0.foreground: snow
.xfontsel.pane.fieldBox.field1.background: #777777
.xfontsel.pane.fieldBox.field1.foreground: snow
.xfontsel.pane.fieldBox.field2.background: #777777
.xfontsel.pane.fieldBox.field2.foreground: snow
.xfontsel.pane.fieldBox.field3.background: #777777
.xfontsel.pane.fieldBox.field3.foreground: snow
.xfontsel.pane.fieldBox.field4.background: #777777
.xfontsel.pane.fieldBox.field4.foreground: snow
.xfontsel.pane.fieldBox.field5.background: #777777
.xfontsel.pane.fieldBox.field5.foreground: snow
.xfontsel.pane.fieldBox.field6.background: #777777
.xfontsel.pane.fieldBox.field6.foreground: snow
.xfontsel.pane.fieldBox.field7.background: #777777
.xfontsel.pane.fieldBox.field7.foreground: snow
.xfontsel.pane.fieldBox.field8.background: #777777
.xfontsel.pane.fieldBox.field8.foreground: snow
.xfontsel.pane.fieldBox.field9.background: #777777
.xfontsel.pane.fieldBox.field9.foreground: snow
.xfontsel.pane.fieldBox.field10.background: #777777
.xfontsel.pane.fieldBox.field10.foreground: snow
.xfontsel.pane.fieldBox.field11.background: #777777
.xfontsel.pane.fieldBox.field11.foreground: snow
.xfontsel.pane.fieldBox.field12.background: #777777
.xfontsel.pane.fieldBox.field12.foreground: snow
.xfontsel.pane.fieldBox.field13.background: #777777
.xfontsel.pane.fieldBox.field13.foreground: snow
.xfontsel.pane.fieldBox*foreground: #000000
.xfontsel.pane.fieldBox.MenuButton.borderWidth: 1
.xfontsel.pane.fieldBox.MenuButton.internalHeight: 1
.xfontsel.pane.fieldBox.MenuButton.internalWidth: 2
.xfontsel.pane.fieldBox.MenuButton.shapeStyle: rectangle
! }}}

! {{{ Colours
*background:       #222222
*foreground:       #cacaca
!black
*color0:           #080808
*color8:           #505050
!red
*color1:           #b04020
*color9:           #dd4010
!green
*color2:           #afd700
*color10:          #daff30
!yellow
*color3:           #f7cf0a
*color11:          #fce70d
!blue
*color4:           #3060aa
*color12:          #6099dd
!magenta
*color5:           #d6156c
*color13:          #fe4365
!cyan
*color6:           #a0c2de
*color14:          #c9dee8
!white
*color7:           #808080
*color15:          #b0b0b0
!}}}


!URxvt.font: 9x15
!URxvt.depth: 32
!URxvt.background: [62]#000000
!URxvt*scrollBar:                      false
!URxvt*mouseWheelScrollPage:           false
!URxvt*cursorBlink:                    true
!URxvt*background:                     black
!URxvt*foreground:                     white
!URxvt*saveLines:                      5000

! for 'fake' transparency (without Compton) uncomment the following three lines
!URxvt*inheritPixmap:                  true
!URxvt*transparent:                    true
!URxvt*shading:                        138

! other possible settings:
! Rxvt.perl-ext-common: ...,clipboard
! URxvt.keysym.M-C-c:   perl:clipboard:copy
! URxvt.keysym.M-v:   perl:clipboard:paste
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
! URxvt*termName:                       string
! URxvt*geometry:                       geometry
! URxvt*chdir:                          string
! URxvt*reverseVideo:                   boolean
! URxvt*loginShell:                     boolean
! URxvt*multiClickTime:                 number
! URxvt*jumpScroll:                     boolean
! URxvt*skipScroll:                     boolean
! URxvt*pastableTabs:                   boolean
! URxvt*scrollstyle:                    plain
! URxvt*scrollBar_right:                boolean
! URxvt*scrollBar_floating:             true
! URxvt*scrollBar_align:                mode
! URxvt*thickness:                      number
! URxvt*scrollTtyOutput:                boolean
! URxvt*scrollTtyKeypress:              boolean
! URxvt*scrollWithBuffer:               boolean
! URxvt*tintColor:                      !7DA55
! URxvt*blurRadius:                     HxV
! URxvt*fading:                         number
! URxvt*fadeColor:                      color
! URxvt*utmpInhibit:                    boolean
! URxvt*urgentOnBell:                   boolean
! URxvt*visualBell:                     boolean
! URxvt*mapAlert:                       boolean
! URxvt*meta8:                          boolean
! URxvt*tripleclickwords:               boolean
! URxvt*insecure:                       boolean
! URxvt*cursorUnderline:                boolean
! URxvt*pointerBlank:                   boolean
! URxvt*color0:                         color
! URxvt*color1:                         color
! URxvt*color2:                         color
! URxvt*color3:                         color
! URxvt*color4:                         color
! URxvt*color5:                         color
! URxvt*color6:                         color
! URxvt*color7:                         color
! URxvt*color8:                         color
! URxvt*color9:                         color
! URxvt*color10:                        color
! URxvt*color11:                        color
! URxvt*color12:                        color
! URxvt*color13:                        color
! URxvt*color14:                        color
! URxvt*color15:                        color
! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        color
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
! URxvt*scrollColor:                    color
! URxvt*troughColor:                    color
! URxvt*highlightColor:                 color
! URxvt*highlightTextColor:             color
! URxvt*cursorColor:                    color
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*iconFile:                       file
! URxvt*font:                           fontname
! URxvt*boldFont:                       fontname
! URxvt*italicFont:                     fontname
! URxvt*boldItalicFont:                 fontname
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
! URxvt*buffered:                       boolean
! URxvt*depth:                          number
! URxvt*visual:                         number
! URxvt*transient-for:                  windowid
! URxvt*override-redirect:              boolean
! URxvt*hold:                           boolean
! URxvt*externalBorder:                 number
! URxvt*internalBorder:                 number
! URxvt*borderLess:                     true
! URxvt*lineSpace:                      number
! URxvt*letterSpace:                    number
! URxvt*skipBuiltinGlyphs:              boolean
! URxvt*pointerBlankDelay:              number
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*print-pipe:                     string
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*answerbackString:               string
! URxvt*secondaryScreen:                boolean
! URxvt*secondaryScroll:                boolean
! URxvt*perl-lib:                       string
! URxvt*perl-eval:                      perl-eval
! URxvt*perl-ext-common:                string
! URxvt*perl-ext:                       string
! URxvt*iso14755:                       boolean
! URxvt*iso14755_52:                    boolean
! URxvt*xrm:                            string
! URxvt*keysym.sym:                     keysym
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*bell-command:                   string
! URxvt*kuake.hotkey:                   string
! URxvt*matcher.button:                 string
! URxvt*matcher.launcher:               string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.pattern.*:              string
! URxvt*matcher.rend.*:                 string
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*searchable-scrollback:          string
! URxvt*selection-autotransform.*:      string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour
! URxvt*url-launcher:                   string
